*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;

  @media (min-width: 768px) and (max-width: 1279px) {
    max-width: 768px;
  }

  @media (max-width: 767px) {
    max-width: 320px;
  }

}
