*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;

  @media (min-width: 768px) and (max-width: 1279px) {
    width: 768px;
  }
}
