.overlay {
  background-image: url(../images/sectionbg3.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
}

.products {
  min-width: 320px;
  text-align: center;
  margin-bottom: 96px;
}

.products-box {
  margin: 0 auto;
  

  @media (min-width: 768px) {
    max-width: 688px;
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: 1280px) {
    max-width: 1046px;
    
  }
}

.products__title {
  font-family: $title-font;
  color: $main-color-red;
  font-size: sizeRem(36);
  font-weight: normal;
  line-height: sizeRem(52);
  text-transform: uppercase;
  margin-bottom: sizeRem(66);

  @media (min-width: 768px) {
    font-size: sizeRem(60);
    margin-bottom: sizeRem(268);
  }
}

.products__span {
  color: $text-color-pink;
  font-family: $title-font;
  font-size: sizeRem(18);
  font-weight: normal;
  line-height: sizeRem(38);
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: sizeRem(30)
  }
}
 
.products-box__item {
  margin: 0 auto;
  text-align: center;
  position: relative;
  width: 245px;
  padding: 136px 36px 50px;
  margin-bottom: 126px;
  border-radius: 25px;
  background-color: $main-color-pink;

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &--ice::before {
    background-image: url(../images/home-pic1.png);
    height: 216px;
    top: -100px;
    left: 0;
  }

  &--coffee {
    background-color: $secondary-color-ivory;
  }

  &--coffee::before {
    background-image: url(../images/home-pic2.png);
    height: 237px;
    top: -104px;
    left: 0;
  }
  
  &--milkshake {
    background-color: $secondary-color-green;
  }

  &--milkshake::before {
    background-image: url(../images/home-pic3.png);
    height: 249px;
    top: -110px;
    left: 0;
  }

  @media (min-width: 768px) {
    margin-bottom: sizeRem(120);
    max-width: 218px;
  }
  @media (min-width: 1280px) {
    max-width: 330px;
  }
}

.products-box__item:last-of-type {
  margin-bottom: 0;

  @media (min-width: 768px) {
    margin-bottom: sizeRem(120);
  }
}

.products-box__title {
  color: $main-color-white;
  font-family: $title-font;
  font-size: 15px;
  font-weight: 400;
  line-height: 38px;
  text-transform: uppercase;
  margin-bottom: 36px;
}

.products-box__text {
  color: $main-color-white;
  font-family: $text-font-regular;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  padding-bottom: 30px;
}

.products-box__link {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.products-box__decor-dot-box {
  width: 26px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 32px;
}

.products-box__decor-dot {
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: $main-color-white;
}