@font-face {
  font-family: 'dm_sansbold';
  src: url(../fonts/DM_Sans/dmsans-bold-webfont.woff2) format('woff2'),
    url(../fonts/DM_Sans/dmsans-bold-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dm_sansmedium';
  src: url(../fonts/DM_Sans/dmsans-medium-webfont.woff2) format('woff2'),
    url(../fonts/DM_Sans/dmsans-medium-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dm_sansregular';
  src: url(../fonts/DM_Sans/dmsans-regular-webfont.woff2) format('woff2'),
    url(../fonts/DM_Sans/dmsans-regular-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'titan_oneregular';
  src: url(../fonts/Titan_One/titanone-regular-webfont.woff2) format('woff2'),
    url(../fonts/Titan_One/titanone-regular-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
