// COLOR -------------------------------------

$main-color-white: #ffffff;
$main-color-pink: #ffb8c9;
$main-color-red: #d41442;

$secondary-color-green: #c1e297;
$secondary-color-ivory: #efd1a5;
$secondary-color-pink: #fff5f7;

$text-color-pink:#ffa5ba;
$text-color-black: #000000;
$text-color-grey: #907e82;

$hover-color-grey: #ecebeb;
$hover-color-red: #c7133e;

// FONTS --------------------------------------

$title-font: 'titan_oneregular';
$text-font-medium: 'dm_sansmedium';
$text-font-bold: 'dm_sansbold';
$text-font-regular: 'dm_sansregular';

// SIZE ----------------------------------------

$size-content: 16;