.footer {
    width: 320px;
    margin: 0 auto;
    
    &-titles__main-title {
        padding-left: 33px;
        display: block;
        @extend %subtitle;
        font-size: 18px;
        margin-bottom: sizeRem(40);
    }
    &-titles__sub-title {
        display: block;
        @extend %title;
        font-size: 36px;
    }

    &__socila-links {
        width: 320px;
        display: flex;
        justify-content: flex-end;
        padding-bottom: sizeRem(50);
        &-facebook {
            margin-left: sizeRem(26);
            margin-right: sizeRem(41);
            background: #ffa5ba;
            border: 6px solid #ffa5ba;
            border-radius: 50%;
            fill: white;
            width: 30px;
            height: 30px;
            &:hover {
                background: #c7133e;
                border: 6px solid #c7133e;
                cursor: pointer;            
            }
        }
        &-github {
            background: #ffa5ba;
            border: 6px solid #ffa5ba;
            border-radius: 50%;
            fill: white;
            width: 30px;
            height: 30px;
            &:hover {
                background: #c7133e;
                border: 6px solid #c7133e;
                cursor: pointer;            
            }
        }
        &-telegram {
            margin-left: sizeRem(26);
            background: #ffa5ba;
            border: 6px solid #ffa5ba;
            border-radius: 50%;
            fill: white;
            width: 30px;
            height: 30px;
            &:hover {
                background: #c7133e;
                border: 6px solid #c7133e;
                cursor: pointer;            
            }
        }
    }

    &-contacts__contact-number {
        font-family: $text-font-bold;
        padding-bottom: 46px;
        font-size: 14px;
        padding-left: 33px;
        & a {
            font-family: $text-font-bold;
            font-size: 14px;
            text-decoration: none;
            color: red;
        }
    }
    &-copyright {
        width: 100%;
        &__text {
            text-align: center;
            color: #b3a0a4;
            font-family: $text-font-regular;
            padding-bottom: 26px;
            &::before {
                padding-bottom: 26px;
                display: block;
                width: 100%;
                content: "";
                border-top: 2px solid #b3a0a4;
            }
        }
    }
   
}
