@media screen and (min-width:768px) {
    .footer {
        width: 768px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &-titles {
            
            width: 45%;
            &__main-title {
                font-size: 26px;
                font-weight: 400;
                line-height: 33px;
            }
            &__sub-title {
                padding-top: 30px;
                font-size: 51px;
                line-height: 49px;
            }
        }
        &-contacts {
            padding-top: 100px;
            width: 45%;
        }
        
    }
}