.header-inner__col-left {
  width: 36%;
}

.title {
  @extend %subtitle;
  color: $main-color-white;
  letter-spacing: 1.48px;
  font-size: sizeRem(37);
  padding-top: sizeRem(94);

  &--bigger {
    @extend %title;
    display: block;

    @media (min-width: 768px) and (max-width: 1279px) {
      font-size: sizeRem(36);
      line-height: 30px;
    }
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    font-size: sizeRem(24);
    padding-top: sizeRem(20);
    line-height: 22px;
    margin-bottom: sizeRem(20);
  }
}

.box-btns {
  display: inline-block;
  margin-bottom: sizeRem(116);

  @media (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: sizeRem(70);
  }
}

.box-preview {
  padding-left: sizeRem(200);
  position: relative;

  &__desc {
    font-family: $text-font-regular;
    letter-spacing: 0.52px;
    color: $main-color-white;
    font-size: sizeRem(13);
    margin-bottom: sizeRem(22);

    @media (min-width: 768px) and (max-width: 1279px) {
      font-size: sizeRem(8);
      letter-spacing: 0.32px;
      margin-bottom: sizeRem(10);
    }
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 188px;
    height: 192px;
    background-image: url(../images/slider-pic5.png);
    background-position: center;
    background-size: contain;

    @media (min-width: 768px) and (max-width: 1279px) {
      width: 124px;
      height: 126px;
    }
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    padding-left: sizeRem(124);
  }
}

.box-preview__link-img {
  width: 27px;

  @media (min-width: 768px) and (max-width: 1279px) {
    width: 18px;
  }
}
