.header-inner__col-center {
  height: 0;
}

.col-center__circle {
  position: relative;
  bottom: 33px;
  left: 0;
  width: 537px;
  height: 537px;
  background-color: $text-color-pink;
  border-radius: 50%;
}

.col-center__img {
  position: absolute;
  bottom: 0;
  left: 650px;
}