.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: sizeRem(38) sizeRem(34) 0;
  position: relative;
  z-index: 10;

  @media (min-width: 768px) and (max-width: 1279px) {
    padding: sizeRem(38) sizeRem(28) 0;
  }

  @media (max-width: 767px) {
    padding: sizeRem(6) sizeRem(16) 0;
  }

  .row {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 768px) and (max-width: 1279px) {
      justify-content: flex-end;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }
}
